<html>
<head>
	<title>Survey Form - Result</title>
</head>
<body>
	<h2>Results here</h2>
		<h3>Name: <%= results.name %></h3>
		<h3>Location: <%= results.location %></h3>
		<h3>Language: <%= results.language %></h3>
		<h3>Comments: <%= results.comments %></h3>
</body>
</html>